<div class="py-5 border-top">
  <div class="container">
    <!-- Social Icons -->
    <div class="row">
      <div class="col-4 col-sm-4">
        <a href="https://github.com/ThyRex3" class="fa fa-github-square fa-2x"></a>
      </div>
      <div class="col-4 col-sm-4 text-center">
        <a href="https://www.linkedin.com/in/thydai/" class="fa fa-linkedin-square fa-2x"></a>
      </div>
      <div class="col-4 col-sm-4 text-right">
        <a href="mailto:tdai1011@gmail.com" class="fa fa-envelope-square fa-2x"></a>
      </div>
    </div>

    <!-- <div class="row">
      <div class="col-sm">
        <ul class="list-unstyled">
          <li>{{ site.author | escape }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>
      <div class="col-sm text-right">
        <ul class="list-unstyled">
          <li>{{- site.description | escape -}}</li>
          <li><a href="https://nicolas-van.github.io/bootstrap-4-github-pages/">Powered by Bootstrap 4 Github Pages</a></li>
        </ul>
      </div>
    </div>
  </div> -->
</div>

<!-- <script>
  $(function() {
    var customCss = "{{ page.customcss }}";
    if ( customCss !== null && customCss !== '') {
      console.log(customCss);
      // var cssUrl = "{{ \"/assets | append: page.customcss\" | relative_url }}";
      // $("head").append($("<link rel='stylesheet' href='"+ cssUrl +"' type='text/css' media='screen' />"));
    }
});
</script> -->
<!-- https://www.w3schools.com/icons/fontawesome_icons_brand.asp -->
<!-- https://embed.plnkr.co/LpJLnT/ -->

<!-- {% if page.guest %} -->
<!-- <link rel="stylesheet" property="stylesheet" href="{{ "/assets/gallery.css" | relative_url }}"> -->

<!-- {% endif %} -->



<!-- {%- for page in site.pages -%} -->
  <!-- <p>Page: {{ page.title }}</p>
  <p>Path: {{ page.path }}</p> -->
  <!-- <p>PATH: {{ my_page.title | escape | upcase }}</p>
  {%- assign my_page = site.pages | where: "path", path | first -%}
  <p>PAGE TITLE: {{ my_page.title | escape | upcase }}</p> -->
  <!-- {% if my_page.title == page.path %} -->
    <!-- <p>{{ my_page.title | escape | upcase }}</p> -->
  <!-- <li class="nav-item">
    <a class="nav-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape | upcase }}</a>
  </li> -->
  <!-- {% endif %} -->
<!-- {% endfor -%} -->



<!-- <script>
    // Keep dropdown open when browsing within
    link = $('a').filter(function(index) {
      return $(this).attr("href") === document.location["pathname"];
    });
    dropdown = link.parents('.navbar-nav');
    dropdown.removeClass("animate slideIn").addClass('show');
  </script> -->